{% extends 'baes.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for category  in category_list %}
<div class="col" style="paddght: -10px;padding-right: ;padding-left: 50px; margin-top: 45px; ">
  <div class="card  " style="width: 18rem;">
    <a href="{% url 'post:categorydetail' category.id %}">
      <img src="{{category.img.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h3>{{category.title}}</h3>
      </div>
    </a>
  
  </div>
</div>
{% endfor %}  
</div>

<br>
<br>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item ">
    {% if page_obj.has_previous  %}
    <li class="page-item"> <a class="page-link" href="?page=1">first</a></li>
      <li class="page-item">  <a class="page-link" href="?page={{page_obj.previous_page_number}}">previous</a></li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">page {{page_obj.number}} of {{page_obj.paginator.num_page_obj}}</a></li>
      

    {% if page_obj.has_next %}
    <li class="page-item"><a  class="page-link"  href="?page={{page_obj.next_page_number}}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">last</a></li>
    {% endif %}
    </li>
  </ul>
</nav>




{% endblock content %}